* {
    font-family: monospace;
    color: white;
}

body {
    background-color: #32323c;
    height: 100%;
    overflow-x: hidden;
}

.title {
    text-align: center;
    font-family: Georgia;
    background-color: #282832;
    box-shadow: 0.2vw 0.2vh 0.5px #2d2d37;
    padding: 25vh 0vh 40vh;
    margin: -2vh -2vh 10vh -2vh;
}

h1 {
    font-size: 4.8vw;
    font-family: Georgia;
}

h3 {
    font-size: 2vw;
    padding-left: 10vw;
    padding-right: 10vw;
    font-family: Georgia;
}

p {
    font-size: 1vw;
    padding-left: 15vw;
    padding-top: 3vh;
}

hr {
    width: 40%;
}
footer {
    padding-top: 40vh;
}