* {
    font-family: monospace;
    color: white;
}

body {
    background-color: #16161b;
    height: 100%;
    overflow-x: hidden;
}

.title {
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: Georgia;
    box-shadow: 0.2vw 0.2vh 0.5px #1e1e24;
    padding: 25vh 0vh 40vh;
    margin: -2vh -2vh 10vh -2vh;
}

#title-home {
    background-image: url("images/bg_1.jpeg");
}

#title-rules {
    background-image: url("images/bg_2.jpeg");
}

#title-tags {
    background-image: url("images/bg_3.jpeg");
}

#title-faq {
    background-image: url("images/bg_4.jpeg");
}

h1 {
    font-size: 4.8vw;
    font-family: Georgia;
}

h3 {
    font-size: 2vw;
    padding-left: 10vw;
    padding-right: 10vw;
    font-family: Georgia;
}

p {
    font-size: 1vw;
    padding-left: 15vw;
    padding-top: 3vh;
}

hr {
    width: 40%;
}
footer {
    padding-top: 40vh;
}